/*Basic Setup*/
* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
body {
box-sizing: border-box;
  background-color: #f2f4f8;
  font-size: 20px;
}
section{
  margin: 30px 0;
}
main,.midContent {
  width: 70%;
  margin: auto;
}
:root{
  --orange:#ef4a23;
  --secondary:#666666;
}
.secondary{
  color:#444444;
  font-size: 15px;
}
.center{
  text-align: center;
  display: block;
}
/*Header part start*/
.container {
  display: flex;
  justify-content: center;
  background-color: #081621;
  padding: 10px;
}
.right {
  display: flex;
  padding: 5px;
  
}
.left {
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
}
.search {
  margin-top: 30px;
  margin-left: 20px;
  width: 600px;
}
input[type="search"] {
  width: 100%;
  border: none;
  padding: 10px;
  
}
input[type="search"]:focus{
  outline: none;
}
.search label{
  position: relative;
  background-color: transparent;
  top: 8px;
}
.searchIconForm{
  display: flex;
  background-color: #fff;
  padding: 7px;
  border-radius: 3px;
}
.text h5{
  font-size: 20px;
  line-height: 1.2;
}

.box1 a {
  text-decoration: none;
  display: flex;
  color: white;
  padding: 1.5px;
  font-size: 20px;
  
}
.icon {
  margin:10px 15px 0 0;
  color: #ef4a23;
}
.box1 button {
  padding: 2px;
  color: #ef4a23;
  background-color: rgb(195, 212, 212);
  border: 2px;
}
.navButton {
  margin: 5px 0 5px 10px;
}
.text p {
  color: #a8afb4;
  font-size: 12px;
}

/*navigation Bar*/
nav {
  text-align: center;
  color: #fff;
  box-shadow: 1px 1px 1.5px #a8afb4;
}
ul li,a
{
  text-decoration: none;
  display: inline-block;
  color: #000;
  margin-left: 2px;
  font-weight: bold;
  padding: 5px 0px;
  line-height: 10px;
}
.dropdown ul{
  margin: 0;
  padding: 0;
}
.dropdown li{
  display: block;
  margin: 0;
  padding: 0;
}
.dropdown li a {
  display: block;
  padding: 5px;
  font-weight: normal;
  line-height: normal;
}
.dropdownContainer {
  position: relative;
  background-color: #fff;
}
.dropdown {
  position: absolute;
  background-color: #fff;
  color: #fff;
  min-width: 150px;
  text-align: start;
  top: 30px;
  display: none;
}
.dropdownContainer:hover .dropdown {
  display: block;
  border-top: 2px solid #ee4a23;
}
.dropdown li a:hover{
  background-color: var(--orange);
  color: #fff;
}
/*Nav Bar End Here*/

/*Main Start Here*/
.bannerSection {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.banner {
  width: 70%;
 margin-right: 20px;
}
.banner img {
  width: 100%;
}
.productSearch {
  width: 25%;
  margin-left: 20px;
}
.searchProduct {
  text-align: center;
  padding: 20px;
  background-color: #ffe8a1;
  margin-bottom: 25px;
  height: 50%;
}
.sideSearchIcon{
  display: flex;
  background-color: #fff;
  margin-bottom: 10px;
}
.sideSearchIcon label{
  position: relative;
  top: 8px;
  right: 5px;
}
.sidebanner{
  height: 35%;
}
.sidebanner img {
  width: 100%;
}
.searchProduct input[type="search"] {
  margin-bottom: 10px;
  padding: 8px;
  border: none;
}
.searchProduct input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #3749bb;
  color: #3749bb;
}
.searchProduct input[type="submit"]:hover {
  background-color: #3749bb;
  color: #fff;
  transition: 2s;
}
.searchProduct p {
  margin-bottom: 15px;
  color: #99c1d0;
}

/*Short Search Section*/
.shortSearchItem{
 display: flex;
 justify-content: space-between;
}
.shortSearch a{
  text-decoration: none;
  padding: 15px 60px 15px 15px;
  background-color: #fff;
  font-weight: normal;
  line-height: normal;
  border-radius: 5px;
}
.finder{
  display: flex;
}
.laptopIcon{
  text-align: center;
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
  background-color: #ee4a23;
  font-size: 30px;
  color: #fff;
  padding: 5px;
  margin-right: 15px;
}
.slider{
  margin-top: 30px;
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
}
/*Short Search Section End*/

/*Feature Section Start*/
.feature-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap:10px;
}
.feature-item a{
  display: block;
  padding: 40px;
  background-color: #fff;
  font-weight: normal;
  border-radius: 15px;
}
.cart-img{
  display: block;
  margin: 5px 0;
}
.feature-item{
  text-align: center;
}
.feature-des{
  margin-bottom: 35px;
}
.feature-item a:hover {
  color: #ee4a23;
  box-shadow: 0.5px 0.5px 1.5px #a8afb4;
}
.findStore{
  padding: 30px;
  background-image: linear-gradient(to right,rgb(70, 106, 237),rgb(9, 49, 192));
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.findLeft{
  display: flex;
}
.findStore h3{
  font-size: 36px;
}
.bi-geo-alt-fill{
  font-size: 60px;

}
.findIcon{
  margin-right:25px;
  margin-top: 20px;
}
.findRight a{
  color: #fff;
  font-weight: normal;
  background-color: #e9981e;
  padding: 25px 50px;
  border-radius: 35px;
}
.bi-search{
  margin-left: 10px;
}
/* Product Container Section Start*/
.productContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.card{
  background-color: #fff;
  border-radius: 5px;
}
.headingPrice{
  background-color: #6E2594;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  padding: 0 10px;
  border-radius:0 12px 12px 0;
}
.cardImage{
  border-bottom: 2px solid #f3f3f3;
}
.cardDes{
  padding: 10px;

}
.cardDes a{
  font-weight: normal;
  line-height: normal;
  margin-bottom: 20px;
}
.price span{
  color:var(--orange);
  font-weight: bold;
}
.cardDes a:hover{
  text-decoration: underline;
  color: var(--orange);
}
.cardImage a:hover{
  opacity: 0.8;
}
.card:hover{
  box-shadow:0 2px 5px rgba(0,0,0,.1);
}
/* Description start */
.singleDes{
  margin:40px 0;
  text-align: justify;
}
.descriptionHeading{
  margin: 40px 0;
}
.highlight{
  font-weight: normal;
  color: var(--orange);
}
.highlight:hover{
  text-decoration: underline;
}
.sideIcon{
  display: inline-block;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 10px;
 
}
.sideIcon a{
  display: block;
  text-transform: uppercase;
  text-align: center;
  background-color: #081621;
  color: #fff;
  border-radius: 8px;
  margin: 0px 10px 15px 0;
  padding: 15px 10px;
  border: 1px solid var(--secondary);
  position: relative;
  
}
.cornerDigit{
  position: absolute;
  top:-8px;
  right: -8px;
  padding: 5px;
  background-color: var(--orange);
  color: #fff;
  border-radius: 50%;
}
.sideIcon a:hover{
  background-color: #3749BB;
}

.sideIcon small{
  font-size: 10px;
}
/* Footer Start */
footer{
  background-color: #081621;
  color: #fff;
  padding: 20px;
}
.footerContainer{
  display: flex;

}
.footerLeft{
  margin-right: 40px;

}
.phone{
  margin-bottom: 20px;
}
.phoneLink{
  display: flex;
  line-height: normal;
  font-weight: normal;
  padding: 15px 150px 15px 10px;
  border: 2px solid var(--secondary);
  border-radius: 50px;
}
.phoneDes{
  color: #fff;
}
.phoneIcon{
   padding: 10px;
   border-right:1px solid var(--secondary);
}
.bi-telephone-fill{
  color: #fff;
}
.footerHeading{
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.phoneDes{
  margin-left: 20px;

}
.phoneDes small{
  color: var(--secondary);
}
.phoneDes p{
  color: var(--orange);
  font-weight: bold;
}
.phoneLink:hover{
  border-color: var(--orange);
}
.linkContainer{
  display: flex;
}
.leftLink ul li,
.leftLink ul li a{
  display: block;
  padding: 5px;
  color: var(--secondary);
  font-weight: normal;
  line-height: normal;
}
.leftLink ul li a:hover{
  color: var(--orange);
  text-decoration: underline;
}
.socialIconContainer{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.leftIcon{
  display: flex;
  justify-content: space-between;
}
.googlePlay a{
  display: flex;
  font-weight: normal;
  line-height: normal;
  border: 2px solid var(--secondary);
  padding: 5px 20px 5px 8px;
  font-size: 15px;
  border-radius: 10px;
  margin-right: 10px;
}
.bi-google-play{
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.playStoreText p{
  color: #fff;

}
.iconText{
  margin-right: 10px;
  padding: 10px 0;
}
.playStoreIcon{
  padding: 10px 0;
}
.googlePlay a:hover{
  border-color: #fff;
}
.socialMedia{
  background-color:rgba(255,255,255,.1);
  padding: 12px;
  color: #fff;
  border-radius: 50%;
}
.socialMedia:hover{
  background-color: #3749BB;
}
.copyRight{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
/*footer End*/
