.container{
    height:60px;
    width: 100%;
    border: 2px solid #000;
}
.left{
    height: 60px;
    border: 2px solid red;
    width: 55%;
    float: left;
}
.right{
    height: 60px;
    border: 2px solid red;
    width: 35%;
    float: right;
}
.navleft{
    height: 55px;
    width: 49%;
    border: 1px solid green;
    float: left;
}
form{
    display: inline-block;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}